<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <mat-form-field appearance="fill">
        <mat-label for="email">E-mail</mat-label>
        <input matInput formControlName="email" class="form-control">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label for="password">Password</mat-label>
        <input matInput [type]="inputType" formControlName="password" class="form-control">
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary">
        Login
    </button>
</form>