<div class="container" *ngIf="recipe != undefined">
    <h1>Edit your recipe: <span class="italic">{{ recipe.title }}</span></h1>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label for="title">Title</mat-label>
            <input matInput formControlName="title" class="form-control">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Select categories</mat-label>
                <mat-select formControlName="categories" multiple>
                    <mat-option *ngFor="let cat of all_categories" [value]="cat._id['$oid']">{{ cat.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
            <mat-label>Select culinary level</mat-label>
                <mat-select formControlName="level">
                    <mat-option *ngFor="let lev of levels" [value]="lev['_id']['$oid']" >
                        {{ lev.name }}
                    </mat-option>
                </mat-select>
        </mat-form-field>

        <span *ngIf="ingredients">
            <mat-list>
                <mat-list-item *ngFor="let i of ingredients">{{ i }}</mat-list-item>
            </mat-list>
        </span>
        <mat-form-field appearance="fill">
            <mat-label for="ingredient">Ingredient</mat-label>
            <input matInput formControlName="ingredient" class="form-control"
                      placeholder="Ex. Two apples, 200g oats...">
            <button type="button" matSuffix mat-icon-button aria-label="Clear" (click)="addIngredient()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>

        <!-- <button type="button" mat-raised-button color="secondary" (click)="addIngredient()">
            Add ingredient
        </button> -->

        <br>

        <mat-form-field appearance="fill">
            <mat-label for="preparation">Preparation</mat-label>
            <textarea matInput formControlName="preparation" class="form-control"></textarea>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
            <mat-label for="preparationTime">Prep-time</mat-label>
            <input matInput formControlName="preparationTime" class="form-control">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
            <mat-label for="briefSummary">Brief summary</mat-label>
            <input matInput formControlName="briefSummary" class="form-control">
        </mat-form-field>
    
        <br>
    
        <button mat-raised-button color="primary" class="save-btn">
            Save
        </button>
    </form>
</div>