<mat-chip-listbox>
    <mat-chip-option color="accent" [routerLink]="['/add-new-recipe']">+Add new recipe</mat-chip-option>
    <mat-chip-option *ngFor="let c of categories" (click)="filterByCategory(c._id)">{{ c.name }}</mat-chip-option>
</mat-chip-listbox>
<span *ngIf="latestRecipes">
        <div >
            <mat-card *ngFor="let recipe of latestRecipes">
                <mat-card-header>
                    <mat-card-title class="" >
                        <span [routerLink]="['/recipe', recipe._id['$oid']]">{{ recipe['title'] }}</span>
                        <span *ngIf="recipe.userId['$oid'] == currentUserId" class="icons">
                            <button mat-icon-button matTooltip="Edit recipe" 
                                    matTooltipPosition="above"
                                    [routerLink]="['/edit-recipe', recipe._id['$oid']]">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Delete recipe" matTooltipPosition="above" (click)="onDelete(recipe._id['$oid'])">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </mat-card-title> 
                    
                    
                    <mat-card-subtitle> Categories: <span *ngFor="let c of recipe['categories']">{{ c['name'] }} </span> </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <span>Brief summary: {{ recipe['briefSummary'] }}</span>
                    <br>
                    <span>Level: {{ recipe['level']['name'] }}</span>
                </mat-card-content>
            </mat-card>
            
            
        </div>
    <button [disabled]="disableLoadMore" mat-button (click)="loadMore()">Load more</button>
</span>